@tailwind base;
@tailwind components;
@tailwind utilities;

main{
  width: 100%;
  min-height: calc(100vh - 3rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}